body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto 256px;
}

#nav {
    display: flex;
    flex-direction: row;
    gap: 16px;
    list-style: none;
    margin-left: auto;
}

#nav .nav-item a {
    text-decoration: none;
}

#sign-up {
    display: flex;
    gap: 64px;
    justify-content: space-between;
    margin: auto 256px;
    margin-top: 64px;
}

#sign-up .right-side img {
    width: 300px;
}

#info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

#info-figures {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100px;
    gap: 32px;
    margin-top: 16px;
}

.info-figure img {
    width: 150px;
}
